
<div align="center">
        <h2>Ajouter un employe</h2>
        <form [formGroup]="addForm" (ngSubmit)="onFormSubmit()">
          <mat-form-field style="width:300px" appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom">
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="prenom">
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
              <mat-label>Date de naissance</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateDeNaissance">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
              <mat-label>Identifiant</mat-label>
              <input matInput formControlName="identifiant">
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput formControlName="motdepasse">
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="Responsable">Responsable Bassin</mat-option>
              <mat-option value="Employe">Employe</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill">
            <mat-label>Adresse</mat-label>
            <textarea matInput formControlName="adresse"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field style="width:300px" appearance="fill" >
              <mat-label>Numéro de sécurité sociale</mat-label>
              <input matInput formControlName="numSecuSociale">
          </mat-form-field>
          <br>
          <button mat-stroked-button>Ajouter</button>
        </form>
  </div>
