
<h2 align="center">Activites de l'aquarium</h2>
<mat-table [dataSource]="activites" class="mat-elevation-z8">
      
        <ng-container matColumnDef="jour">
          <mat-header-cell *matHeaderCellDef> Jour de l'activite </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.jour}} </mat-cell>
        </ng-container>
      
       
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef> Nom de l'activite</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
        </ng-container>
      
       
        <ng-container matColumnDef="heureDebut">
          <mat-header-cell *matHeaderCellDef> Heure de Debut </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.heureDebut}} </mat-cell>
        </ng-container>
      

       
        <ng-container matColumnDef="heureFin">
          <mat-header-cell *matHeaderCellDef> Heure de Fin </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.heureFin}} </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="publiqueOuPrivee">
                <mat-header-cell *matHeaderCellDef> Type d'activite </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.publiqueOuPrivee}} </mat-cell>
              </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

    